body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.table tbody tr {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.table td, .table th {
    border: none;
    padding: 15px 20px;
}

.table td {
    vertical-align: middle;
}